.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.Title{
  letter-spacing: .04em;
  line-height: 1.2;
  font-weight: 700;
  margin: auto;
  margin-top: 5px;
  text-transform: uppercase;
  font-family: GT-Walsheim;
}

.TextContiner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.Game{
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.actions{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.buttonContiner{
  display: flex;
  justify-content:center;
  align-items:center;
}

@media screen and (min-width: 500px){
  .Title{
    font-size: 40px;
  }
  .buttonContiner{
    flex-direction: row;
  }
}

@media screen and (max-width: 500px){
  .Title{
    font-size: 20px;

  }
  .buttonContiner{
    flex-direction: column;
  }
}
